--extra-index-url https://download.pytorch.org/whl/cu124
torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
ultralytics==8.3.40
opencv-python-headless==4.10.0.84
supervision==0.25.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pynvml
loguru==0.7.3
pydantic-settings==2.7.0